<!-- Filename home needs to match the method in the controller file -->
<div class="home-callout text-center container-fluid">
  <h1>Psychic Potato</h1>
  <h3>Like a magic 8 ball. But a potato.</h3>
</div>